@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#1b1d36] font-mono scroll-smooth;
  }
}

@layer components {
  /* Header */
  .header-button {
    @apply p-1 text-lg tracking-[1px] font-semibold hover:text-[#e1e7ec] hover:-translate-y-1 duration-200;
  }

  .header-icon {
    @apply p-1 hover:-translate-y-1 hover:scale-110 hover:text-[#e1e7ec] duration-200;
  }

  /* Home */
  @keyframes profile-fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
      transform: scale(1.15);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
      transform: scale(2);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
      transform: scale(2);
    }
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .show-profile {
    @apply transition-all delay-500 ease-in-out;
    animation: profile-fade-in 2s;
  }

  .inner-circle {
    @apply transition-all delay-500 ease-in-out;
    animation: fade-out 2s forwards;
  }

  .outer-circle {
    @apply h-[200px] w-[200px] transition-all delay-300 ease-in-out;
    animation: fade-in 1s forwards;
  }

  .circle-pulse {
    @apply h-[400px] w-[400px] animate-pulse;
  }

  .cursor-blink:after {
    content: '|';
    @apply text-[#e1e7ec];
    animation: blink 1s step-start infinite;
  }
}
