@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cursor-blink:after {
    content: '|';
    @apply text-white;
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% { opacity: 0; } 
  }

  .hero-button {
    @apply px-6 py-2
    uppercase text-sm text-gray-400 font-mono tracking-widest hover:text-white
    rounded-full border border-[#282c34] hover:border-gray-400
    transition-all;
  }

  .contact-input {
    @apply bg-[#333842] px-6 py-3 
    text-gray-400 focus:text-white placeholder-gray-500
    border-[#333842] outline-none rounded-sm border-b hover:border-gray-400 focus:border-gray-400
    transition-all;
  }

  .skill {
    @apply relative flex cursor-pointer opacity-0;
  }

  .skill-fade {
    @apply opacity-90 group-hover:opacity-10 transition-opacity duration-300 ease-in-out;
  }
  
  .skill-name {
    @apply absolute justify-center items-center
    opacity-0 group-hover:opacity-100
    transition-opacity duration-300 ease-in-out;
  }

  .skill-show {
    @apply opacity-100 transition-all delay-300 duration-1000;
    animation: bounce-once 1s;
  }

  @keyframes bounce-once {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-50px); }
  }

  .highlighter {
    @apply absolute bg-gray-500 z-0
    bottom-0 left-0 w-full h-0.5 group-hover:h-full
    origin-bottom transition-all duration-300 ease-in-out;
  }
}

